<clr-datagrid [(clrDgSingleSelected)]="selectedAuthority" [clDgRowSelection]="true">
    <clr-dg-action-bar>
        <div>            
            <label for="search_title" class="required">검색</label>
            <label for="search_title" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="title.invalid && (title.dirty || title.touched)">                                
                <input #title="ngModel" [(ngModel)]="fkBoardInput" [ngModelOptions]="{standalone: true}"   
                    type="text" 
                    id="search_title" 
                    placeholder="게시글 제목"                 
                    size="10"
                    required 
                    >
                <span class="tooltip-content">
                This field cannot be empty!
                </span>
            </label>          
        </div>
        <span class="username" *ngIf="selectedAuthority">{{selectedAuthority.userId}}</span>&nbsp;&nbsp;<span>{{searchTitle}}</span>
        <button class="btn btn-sm btn-secondary" (click)="getAuthorityList()">조회</button>      
    </clr-dg-action-bar>
  
    <clr-dg-column [clrDgField]="'authority'"    [style.width.px]="130">권한</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'"      [style.width.px]="130">설명</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let auth of authorityList" [clrDgItem]="auth">
        <clr-dg-cell>{{auth.authority}}</clr-dg-cell>
        <clr-dg-cell>{{auth.description}}</clr-dg-cell>  
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
        </clr-dg-pagination>              
    </clr-dg-footer>      
</clr-datagrid>
