<clr-datagrid [(clrDgSingleSelected)]="selectedUser" [clDgRowSelection]="true">
  <clr-dg-action-bar>
    <div>            
        <label for="search_user" class="required">검색</label>        
        <input  [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}"   
                id="search_user" 
                type="text"                 
                placeholder="사용자 아이디"                 
                size="20">            
    </div>      
      <button class="btn btn-sm btn-secondary" (click)="getArticleList()">조회</button>      
  </clr-dg-action-bar>
  
  <clr-dg-column [clrDgField]="'userId'"    [style.width.px]="130">사용자 아이디</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">성명</clr-dg-column>  
  <clr-dg-column [clrDgField]="'enabled'"   [style.width.px]="100">사용여부</clr-dg-column>  
  <clr-dg-column                            [style.width.px]="130">Action</clr-dg-column>  

  <clr-dg-row *clrDgItems="let user of userList" [clrDgItem]="user">
        <clr-dg-cell>{{user.userId}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>        
        <clr-dg-cell [style.text-align]="'center'"><clr-checkbox name="enabled" [(ngModel)]="user.enabled"></clr-checkbox></clr-dg-cell>                    
        <clr-dg-cell><button class="btn btn-primary" (click)="initPassword(selectedUser)">비밀번호 초기화</button></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
        </clr-dg-pagination>              
    </clr-dg-footer>      
</clr-datagrid>
