<div class="form-group">
    <label for="fieldId" [class.required]="isRequired">
        <ng-content></ng-content>
    </label>            
    <label for="fieldId" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="model.invalid && (model.dirty || model.touched)">        
        <input  id="fieldId" 
                type="text" 
                [(ngModel)]="value" 
                #model="ngModel" 
                (blur)="onBlur()" 
                [required]="isRequired"
                [attr.placeholder]="placeholderText"
                (click)="onClick(model)"  
                (change)="onChange($event)"              
                >
        <span class="tooltip-content">
            {{tooltipText}}
        </span>
    </label>
</div>    
