<label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="model.invalid && (model.dirty || model.touched)">        
    <input  type="password" 
            [(ngModel)]="value" 
            #model="ngModel" 
            (blur)="onBlur()" 
            [required]="isRequired"
            [attr.placeholder]="placeholderText"
            (change)="onChange($event)"            
            >
    <span class="tooltip-content">
        {{tooltipText}}
    </span>
</label>

